* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: steelblue;
    height: 100vh;
    width: 100vw;
}

canvas {
    background-color: #f0f0f0;
    width: 100%;
    height: 100%;
    border: none;
}